body {
  margin: 0;
  font-family: Arial;
  background: linear-gradient(#d9f3ff, #b8e7ff);
  overflow-x: hidden;
}

header {
  background: rgba(255,255,255,0.4);
  backdrop-filter: blur(10px);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid #aee4ff;
}

.logo {
  font-size: 40px;
  color: #1a73e8;
  text-shadow: 0 0 10px white;
}

nav a {
  margin: 10px;
  font-size: 18px;
  color: #0b3c68;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 80px;
  color: #0b3c68;
}

.button {
  padding: 15px 30px;
  background: #6ec6ff;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-size: 20px;
  box-shadow: 0 5px 10px #aee4ff;
}

section {
  padding: 40px;
  text-align: center;
}

.card {
  background: white;
  padding: 20px;
  margin: 20px auto;
  width: 60%;
  border-radius: 20px;
  box-shadow: 0 5px 12px #aee4ff;
}
